<div class="chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="chatroom-info d-flex">
    <div class="gig-image">
      <img src="<%= @chatroom.gig.band_image_url || 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg' %>" alt="<%= @chatroom.gig.band %>"/>
    </div>
    <div class="chatroom-details">
      <h1><%= @chatroom.name %></h1>
      <p class="event-time-location"><%= @chatroom.gig.date.strftime("%a, %b %e %Y")  %> - <%= @chatroom.gig.time_from.strftime("%I:%M %P") %> - <%= @chatroom.gig.time_to.strftime("%I:%M %P") %></p>
      <hr style= "margin-left: 10px;">
      <i class="fa-solid fa-location-dot" style="position: flex; margin-left: 15px;"></i>
      <p style="margin-left:35px; margin-top: -23px;position: flex;">
        <%= @chatroom.gig.location_name %></p>
    </div>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div class="message-send-section">
    <%= simple_form_for [@chatroom, @message],html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content, label: false, placeholder: "Message #{@chatroom.name}", wrapper_html: {class: "flex-grow-1"} %>
      <button type="submit" class="btn send-button">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    <% end %>
    <!-- app/views/chatrooms/show.html.erb -->
    <%= debug @message.errors.full_messages if @message.errors.any? %>
  </div>
</div>