
<div class="card-gig">
  <div class="card-gig-infos">

    <p>
    <strong>Artist:</strong>
    <%= gig.name %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= gig.description %>
    </p>

    <p>
    <strong>Location:</strong>
    <%= gig.location %>
    </p>

    <p>
    <strong>Date:</strong>
    <%= gig.time %>
    </p>

<%= link_to "test", confirm_gig_registrations_path(gig), class: "btn btn-secondary" %> 

  </div>

</div>


