<!--Dropdown-1 location-->
<div class="dropdown custom-dropdown">
  <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Location
  </button>
  <ul class="dropdown-menu scrollable-dropdown">
    <% @locations.each do |location| %>
      <li><a class="dropdown-item" href="?location=<%= location %>"><%= location %></a></li>
    <% end %>
  </ul>
</div>
<!--Button-2 recommended-->
<div class="dropdown custom-dropdown">
  <%= button_to 'Recommended', root_path(recommend: true), method: :get, class: 'btn btn-secondary custom-dropdown-button' %>
</div>
<!--Dropdown-3 genre-->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Genre
  </button>
  <ul class="dropdown-menu scrollable-dropdown">
    <% @genres.each do |genre| %>
      <li><a class="dropdown-item" href=<%="?genre=#{genre.name}"%>><%= genre %></a></li>
      <%end %>
    </ul>
  </div>
  <!--Dropdown-4  date-->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle custom-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Date
    </button>
    <ul class="dropdown-menu scrollable-dropdown">
      <li><a class="dropdown-item" href="?date_range=tonight">Tonight</a></li>
      <li><a class="dropdown-item" href="?date_range=weekend">This Weekend</a></li>
      <li><a class="dropdown-item" href="?date_range=month">This Month</a></li>
      <li><a class="dropdown-item" href="?date_range=next_month">Next Month</a></li>
    </ul>
  </div>
  <!--All gigs this part below can be rewrited-->
  <div class="no-display">
    <% @gigs.each do |gig| %>
      <h3> <%= gig.name %> </h3>
      <li> <%= gig.description %> </li>
      <li> <%= gig.location %> </li>
    <% end %>
    <h1> All Gigs </h1>
    <% @gigs.each do |gig| %>
      <%= gig.name %>
    <% end %>
  </div>
