<div class="upcoming-events-card" data-controller="modal" data-modal-id-value=<%= gig.id %>>
  <img src="<%= gig.band_image_url || 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg' %>" class="col-4"/>
  <div class="upcoming-events-card-infos col-6">
    <div class="pb-2">
      <%#  Turns the time into a Day, Date, Month, Year format %>
      <h3 class="top-heading"><%= gig.date.strftime("%a, %b %e %Y") %>
        <br>
        <%= gig.time_from.strftime("%I:%M %P") %> -         <%= gig.time_to.strftime("%I:%M %P") %>
      </h3>
    </div>
    <div class="pb-2">
      <h2 class="middle-heading"><%= gig.event_name %>:</h2>
      <h4><%= gig.band %></h4>
    </div>
    <div>
      <strong><i class="fa-solid fa-location-dot"></i></strong>
      <%= gig.location_name %>
    </div>
  </div>
  <div class="col-2">
    <%#  %>
    <div class="register-button" data-controller="sweetalert">
      <%= simple_form_for [gig, @registration], html: { data: { action: "submit->sweetalert#confirm" }, turbo: false } do |f| %>
        <%= f.button :button, class: 'btn btn-flat' do %>
          <i class="fa-solid fa-ticket"></i>
        <% end %>
      <% end %>
    </div>
    <%# TODO: Get the gigs/show page %>
    <%= link_to "<i class='fa-solid fa-circle-info'></i>".html_safe, gig_path(gig), class: 'btn btn-flat register-button' , data: { bs_toggle: "modal", bs_target: "#myModal", action: "click->modal#get_modal" } %>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle"><%= gig.event_name %>: <%= gig.band %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" data-modal-target="modalBody">
            <!-- Modal content goes here -->
          </div>
          <div class="already-registered text-center">
            <% if gig.registrations.find_by(user_id: current_user.id) %>
              <h2>You are already registered for this gig!</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
