<!DOCTYPE html>
<html>
  <head>
    <title>TokyoScene: Find your next favourite band in Tokyo.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <!-- LEWAGON'S DEFAULT FOOTER -->
      <%# <%= render "shared/navbar" %>
      <!-- CUSTOM FOOTER FOR TOKYOSCENE-->
      <%= render "shared/flashes" %>
      <main class="content">
        <%= render "layouts/navbar" %>
        <%= yield %>
        <%= render "layouts/footer" %>
      </main>
    </div>
  </body>
</html>
